.l-container0{
    margin-top: 3%;
    display: flex;
    width: 1300px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.l-container1{
    width: 40%;
    background-image: url('public/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-color: rgba(223, 175, 175, 0.5);
    background-blend-mode: multiply;
}
.l-container2{
    width: 60%;
    background-color: beige;
}